.nose{color:#333;}
p{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.purpura{
	color: #06f;
	font-style: italic;
	font-weight: lighter;
}
.tama{
	font-size: 60px;
font-family:Arial:Helvetica, sans-serif; 	background-attachment: scroll;
	background-position: 65em 76em;
}